@font-face {
    font-family: 'Futura Light';
    src: url("../fonts/futuralightc-italic.otf");
    font-style: italic;

}

@font-face {
    font-family: 'Futura Book';
    src: url("../fonts/futurabookc.otf");
}

/*добавить просто Futura*/

@font-face {
    font-family: 'Katherine Plus';
    src: url("../fonts/Katherine.otf");
}

body {
    /*font-family: ;*/
}

.section {
    width: 100%;
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
    
}

.section-title{
    font-size: 75px;
    font-family: 'Futura Book';
    color: #000;    
    margin: 100px 0 85px 0;
}

.main-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Futura Book';
    color: #000;
}

.nav-header {
    width: 470px;
}

.small-logo-img {
    width: 82px;
    height: 70px;
    margin-left: 50px;
}

.nav-header li {
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;
    text-transform: uppercase;

}

.nav-header a:active,
.nav-header a:visited,
.nav-header a:link {
    color: #000;
}

.nav-header a:hover {
    border-bottom: 2px solid #000;
}

.contact-tel {
    min-width: 177px;
    font-size: 20px;
}

.btn-primary {
    min-width: 355px;
    height: 60px;
    background-color: #395763;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;

}

.small-container-header {
    display: flex;
    align-items: center;
}

.contact-tel {
    margin: 0 80px 0 35px;
}


.home-section {
    height: 100vh;
    background: #f3f7fa url(../img/main_background.png) center no-repeat;
    background-size: cover;
    align-items: center;

}

.home-section-container {
    height: 415px;
    margin: 0 auto 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-h1 {
    font-family: 'Futura Book';
    font-size: 80px;
    margin-left: 20px;

}

.home-h1 span {
    color: #18cfab;
    font-weight: 700;
}

.ham-main-slogan {
    margin-top: 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 79px;
    font-weight: 700;
}

.ham-slogan {
    margin-top: 35px;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
}

.home-h1-container {
    width: 562px;
    height: 154px;
}

.main-logo-img {
    width: 562px;
    height: 154px;
}

.about-us-section {
    height: 700px;
    margin-top: 100px;
    background-color: #fff;
    align-items: center;
    position: relative;

}

.about-us-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
      
}

.left-side-about-us-container {
    width: 65%;
    height: 100%;
    background-color: #f3f7fa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
/*    align-items;*/
    
     overflow: hidden;
}

.indicators {
    width: 650px;
/*    margin: 0 100px 0 100px;*/
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #cedfdf;
}

.indicators div {
    font-family: 'Futura';
    color: #000;
    font-size: 54px;
    font-weight: 500;
}

.indicators span {
    font-family: "Futura Light";
    color: #555454;
    font-size: 20px;
    font-style: italic;
}

.indicators sup,
.company-slogan sup {
    vertical-align: super;
    font-size: 12px;

}

.company-info-header {
    font-family: "Futura Book";
    font-size: 38px;
}

.company-slogan {
    margin-top: 5%;
    padding-right: 250px;
    font-family: 'Futura Light';
    color: #555;
    font-size: 24px;
    line-height: 45px;
}



.company-info {
    width: 700px;
   margin-top: 85px;
}

.right-side-about-us-container {
    width: 35%;
    height: 100%;
    position: relative;
    }

.about-us-img {
width: 420px;
height: 440px;
    position: absolute;
    z-index: 1;
    
}

.small-number {
    position: absolute;
 top: 50%;
 left: 15%;
 transform: translate(-50%, -50%);
font-family: 'Futura';
font-size: 64px;
font-weight: 500;
}

.big-number {
      position: absolute;
    top: 3%;
    left: 25%;
font-family: 'Futura';
color:  #f3f7fa;
font-size: 250px;
font-weight: 700;
}

.caption-number {
 position: absolute;
    top: 65%;
    left: 12%;   
font-family: 'Futura Light';
color:  #555;
font-size: 26px;
}

.about-us-pattern {
    position: absolute;
    right: 0;
    top: 10%;
width: 450px;
height: 200px;
    background: url(../img/points_pattern.png) right repeat;
    z-index: 0;
   }

.our-partner-section {
    height: 900px;
    position: relative;
  
    
}

.our-partner-section-bg-h {
    position: absolute;
    width: 80%;
    height: 160px;
    top: 421px;
    background: url(../img/points_pattern.png) repeat;
    z-index: -1;
    
}

.our-partner-section-bg-v {
    position: absolute;
    width: 12%;
    height: 600px;
    left: 1020px;
    top: 49%;
    background: url(../img/points_pattern.png) repeat;
    z-index: -1;
}

.partner-card {
background-color:  #6ba2b8;
width: 25%;
height: 500px;
margin-left: 75px;
}

.partner-card:nth-child(1) {
margin-left: 0;
}

.partner-card:nth-child(2) {
background-color:  #537d8e;
}

.partner-card:nth-child(3) {
background-color:  #395763;
}
.partner-card:nth-child(4) {
background-color:  #203137;
}
.our-partner-container {
font-family: 'Futura Book';
color:  #fff;
font-size: 16px;
line-height: 26px;
}

.parner-cards-container {
    display: flex;
    z-index: 1;
    text-align: center;
    position: relative;
}

.partner-img {
    width: 100%;
}
.partner-info h3 {
margin: 15px auto;
font-family: 'Futura Demic';
color:  #fff;
font-size: 22px;
    font-weight: 600;
text-transform: uppercase;
}

.services-for-partner {
font-family: 'Futura Book';
color:  #fff;
font-size: 16px;
line-height: 26px;
}

.left-side-about-us-bg {
    width: 58%;
    height: 100%;
    background-color: #f3f7fa;
}

.right-side-about-us-bg {
    width: 35%;
    height: 100%;
/*    position: absolute;*/
}

.about-us-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 0;
}
